In [3]:
import pandas as pd
import numpy as np
import os

In [20]:
# cal on soldier cal SentiWordNet
soldierCal = pd.read_csv(os.getcwd() + '/soldierCal.csv', encoding='utf8')
# soldierCal = pd.read_csv(os.getcwd() + '/civilianCal.csv', encoding='utf8')

In [21]:
soldierCal.head()

,csv,count,tweet cleaned length mean,tweet cleaned length std,positive mean,positive std,negative mean,negative std,objective mean,objective std
0,fcharles81.csv,2483,11.342328,9.236260,0.029116,0.044574,0.020452,0.030737,0.345580,0.194491
1,GeoffMillard.csv,10766,18.373305,12.577660,0.027207,0.029670,0.024083,0.024488,0.371894,0.149254
2,cNikonphoto.csv,6981,8.220312,8.356400,0.011386,0.023119,0.007051,0.015293,0.308692,0.299213
3,veteranhank.csv,4980,20.315863,14.502473,0.028544,0.033798,0.026736,0.027754,0.393129,0.141637
4,RalasGang.csv,1209,26.650124,17.999839,0.025335,0.026368,0.018463,0.018079,0.302661,0.122751

In [22]:
soldierCal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   csv                        208 non-null    object
 1   count                      208 non-null    int64
 2   tweet cleaned length mean  208 non-null    float64
 3   tweet cleaned length std   208 non-null    float64
 4   positive mean              208 non-null    float64
 5   positive std               208 non-null    float64
 6   negative mean              208 non-null    float64
 7   negative std               208 non-null    float64
 8   objective mean             208 non-null    float64
 9   objective std              208 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 16.4+ KB

In [23]:
# total valid tweet counts
soldierCal['count'].sum()

661345

In [24]:
soldierCal['count'].mean()

3179.543269230769

In [25]:
soldierCal['count'].std()

5041.6991459538685

In [26]:
# tweet cleaned length mean
soldierCal['tweet cleaned length mean'].std()

6.64265168008867

In [27]:
soldierCal['tweet cleaned length mean'].mean()

16.450405219645422

In [28]:
# positive mean on user count
soldierCal['positive mean'].mean()

0.02575830038724429

In [29]:
soldierCal['positive mean'].std()

0.007858645171147136

In [30]:
# negative mean on user count
soldierCal['negative mean'].mean()

0.019610243482371188

In [31]:
soldierCal['negative mean'].std()

0.00643857976862326

In [32]:
soldierCal['objective mean'].mean()

0.3371701612543228

In [33]:
soldierCal['objective mean'].std()

0.07504938999827325

In [34]:
soldierCal['total'] = soldierCal.apply(lambda x: x['count'] * x['tweet cleaned length mean'], axis=1)

In [35]:
soldierCal['total'].sum()

10888505.0