In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# cal on soldier cal SentiWordNet
# soldierCal = pd.read_csv(os.getcwd() + '/soldierCal.csv', encoding='utf8')
soldierCal = pd.read_csv(os.getcwd() + '/civilianCal.csv', encoding='utf8')

In [3]:
soldierCal.head()

,Unnamed: 0,count,tweet cleaned length mean,tweet cleaned length std,positive mean,positive std,negative mean,negative std,objective mean,objective std
0,myrna99.csv,940.0,9.894681,6.867947,0.027931,0.038166,0.017498,0.024020,0.290692,0.186453
1,KBDeSalvo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,.csv,1659.0,13.661844,8.495976,0.037578,0.037370,0.012007,0.014143,0.352474,0.156332
3,HTracyDavido.csv,2588.0,11.049073,8.121916,0.038598,0.045959,0.025928,0.037269,0.364821,0.155675
4,CenterdinOaklnd.csv,5200.0,17.404231,4.851334,0.018659,0.024434,0.005484,0.010836,0.349606,0.120223

In [4]:
soldierCal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 301 non-null    object
 1   count                      280 non-null    float64
 2   tweet cleaned length mean  280 non-null    float64
 3   tweet cleaned length std   280 non-null    float64
 4   positive mean              280 non-null    float64
 5   positive std               280 non-null    float64
 6   negative mean              280 non-null    float64
 7   negative std               280 non-null    float64
 8   objective mean             280 non-null    float64
 9   objective std              280 non-null    float64
dtypes: float64(9), object(1)
memory usage: 23.6+ KB

In [5]:
# total valid tweet counts
soldierCal['count'].sum()

600224.0

In [6]:
soldierCal['count'].mean()

2143.657142857143

In [7]:
soldierCal['count'].std()

5286.120399540993

In [8]:
# tweet cleaned length mean
soldierCal['tweet cleaned length mean'].std()

5.206737369785966

In [9]:
soldierCal['tweet cleaned length mean'].mean()

14.293274248833187

In [10]:
# positive mean on user count
soldierCal['positive mean'].mean()

0.026265750371957067

In [11]:
soldierCal['positive mean'].std()

0.008743212224596538

In [12]:
# negative mean on user count
soldierCal['negative mean'].mean()

0.017739445642150364

In [13]:
soldierCal['negative mean'].std()

0.006478597457962081

In [14]:
soldierCal['objective mean'].mean()

0.35305253244231866

In [15]:
soldierCal['objective mean'].std()

0.07200866913477337